<section class="content-header">
    <h1>
        <%= data.project.name %>
        <small><%= data.project.description %></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/project/list">Projects</a></li>
        <li class="active"><%= data.project.name %></li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-6 col-lg-4">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Info</h3>
                    <div class="box-tools">
                        <a href="/project/edit/<%= data.project.id %>" class="fa fa-bars"></a>
                    </div>
                </div>
                <div class="box-body">
                    <div class="form-group ">
                        <label class="control-label">
                            Name
                        </label>
                        <div>
                            <%= data.project.name %>
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="control-label">
                            Description
                        </label>
                        <div>
                            <%= data.project.description || "No description" %>
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="control-label">
                            Started
                        </label>
                        <div>
                            <%= moment(data.project.started).format('DD.MM.YYYY') %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Add an instance!</h3>
                </div>
                <div class="box-body text-center">
                    <a href="/instance/create?project=<%= data.project.id %>"><i class="fa fa-plus fa-5x"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Shared With</h3>
                </div>
                <div class="box-body">
                    <% if(data.owners.length > 1) { %>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Username</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% _.each(data.owners, function(owner) { %>
                                    <% if(owner.id !== data.user.id) { %>
                                        <tr>
                                            <td><strong><%= owner.name %></strong></td>
                                            <td><%= owner.username %></td>
                                        </tr>
                                    <% } %>
                                <% }) %>
                            </tbody>
                        </table>
                    <% } else { %>
                        <span>Not shared to anyone!</span>
                    <% } %>
                    <% if(data.project.isProjectAdmin) { %>
                        <a class="btn btn-primary btn-sm pull-right" href="/project/share/<%= data.project.id %>">Share</a>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Time Used</h3>
                </div>
                <div class="box-body text-center">
                    <h3><%= data.project.totalTimeUsed ? moment.duration(data.project.totalTimeUsed).humanize() : "none" %></h3>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-6">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title"><a href="/instance/list?project=<%= data.project.id %>">Instances</a></h3>
                </div>
                <div class="box-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Duration</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% _.each(data.instances, function(instance) { %>
                                <tr>
                                    <td><span class="moment-date"><%= instance.from %></span></td>
                                    <td><%= moment.duration(instance.duration).humanize() %></td>
                                    <td><%= instance.description %></td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
