<section class="content-header">
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/project/list">Projects</a></li>
        <li><a href="/project/show/<%= data.project.id %>"><%= data.project.name %></a></li>
        <li class="active"><a href="/project/edit/<%= data.project.id %>">Edit</a></li>
    </ol>
</section>
<section class="content">
    <div class="col-lg-6 col-lg-offset-3">
        <div class="box box-solid box-primary">
            <div class="box-header">
                <span class="box-title">Edit Project</span>
            </div>
            <form class="no-margin" action="/project/edit" method="post">
                <input type="hidden" name="id" value="<%= data.project.id %>">
                <div class="box-body">
                    <div class="form-group">
                        <label for="nameInput">Name</label>
                        <input name="name" type="text" class="form-control" id="nameInput" value="<%= data.project.name %>">
                    </div>
                    <div class="form-group">
                        <label for="descriptionInput">Description</label>
                        <textarea name="description" style="resize:vertical;" class="form-control" id="descriptionInput"><%= data.project.description %></textarea>
                    </div>
                    <div class="form-group">
                        <label for="dateStartedInput">Started</label>
                        <input name="started" type="date" class="form-control" id="dateStartedInput" value="<%= moment(data.project.started).format('YYYY-MM-DD') %>">
                    </div>
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary pull-right">Save</button>
                </div>
            </form>
        </div>
    </div>
</section>
