<html>
    <head>
        <title>Dashboard</title>
    </head>
    <body>
        <p>Hello <%= user.username %>!</p>
        <p>You've signed up, what you gonna do now?</p>
        <a href="/logout">Log out</a>
    </body>
</html>