<html>
    <body>
        <p>This is the front page of the app. Anyone can see this.</p>
        <% if(user === undefined) { %>
            <a href="/login">Log in</a>
            <a href="/signup">Sign up</a>
        <% } else { %>
            <p>Except that you have logged in, hello <%= user.name != "" ? user.name : user.username %></p>
            <a href="/dashboard">Dashboard</a>
        <% } %>
    </body>
</html>