<html>
    <head>
        <%= include('main-head') %>
    </head>
    <body class="skin-black layout-top-nav">
        <div class="wrapper">
            <header class="main-header">
                <nav class="navbar navbar-static-top">
                    <div class="container">
                        <div class="navbar-header">
                            <a href="/" class="navbar-brand"><b>Trackitime</b></a>
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                                <i class="fa fa-bars"></i>
                            </button>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
                            <ul class="nav navbar-nav">
                                <% if(user === undefined) { %>
                                    <li><a href="/login">Log in</a></li>
                                <% } else { %>
                                    <li><a href="/dashboard">Dashboard</a></li>
                                    <li><a href="/project">Projects</a></li>
                                <% } %>
                            </ul>
                        </div>
                        <div class="navbar-custom-menu">
                            <ul class="nav navbar-nav">
                                <li class="dropdown user user-menu">
                                    <% if(user !== undefined) { %>
                                        <a href="#" class="dropdown-toggle hidden-xs" data-toggle="dropdown">
                                            <span class="hidden-xs"><%= user.name %></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li class="user-footer">
                                                <a href="/profile/edit" class="btn btn-default btn-flat">Edit profile</a>
                                                <a href="/logout" class="btn btn-default btn-flat">Log out</a>
                                            </li>
                                        </ul>
                                    <% } %>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
            <div class="content-wrapper" style="min-height: 181px;">
                <div class="container">
                    <%= include(view) %>
                </div>
            </div>
            <footer class="main-footer">
                <div class="container">

                </div>
                <!-- /.container -->
            </footer>
        </div>

        <%= include('main-defer') %>
    </body>
</html>