
<script src="/lib/moment/moment.js"></script>
<script src="/lib/AdminLTE/js/app.js"></script>

<script src="/js/project-table-date-parsing.js"></script>
<script src="/lib/zxcvbn/zxcvbn.js"></script>
<script src="/js/password-form.js"></script>