<html>
    <head>
        <%= include('templates/main-head') %>
    </head>
    <body>
        <form class="login-form" action="login">
            <input type="text" name="username"></input>
            <input type="password" name="password"></input>
            <button>Login</button>
        </form>
    </body>
</html>