
<html>
    <head>

    </head>
    <body>
        <span><%= message %></span>
        <form action="/signup" method="post">
            Real Name
            <input type="text" name="name"></input>
            Username
            <input type="text" name="username"></input>
            Password
            <input type="password" name="password"></input>
            <button type="submit">Signup</button>
        </form>
    </body>
</html>