
.index-page {
  .fp-title {
    margin-top: 70px;
  }
  .project-box {
    text-align: left;

    div.icon {
      top: 5px;
      right: 7px;
      font-size: 70px;
      a {
        color: inherit;
      }
    }
    &:hover {
      div.icon {
        font-size: 80px;
      }
    }
  }
}
