body div.alert.flash-alert {
  margin-top: 15px;
  margin-bottom: -5px;
}
form .progress,
form .progress {
  background-color: #FFFFFF;
}
form .pwd-info-container {
  text-align: center;
}
form .pwd-strength-indicator.bg-light-green {
  background-color: rgba(87, 218, 0, 0.5);
}
ul.dropdown-menu li.danger {
  background-color: #c9302c;
}
ul.dropdown-menu li.danger:last-child {
  height: 31px;
  margin-bottom: -5px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
ul.dropdown-menu li.danger:first-child {
  height: 31px;
  margin-top: -5px;
  padding-top: 5px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
ul.dropdown-menu li.danger:first-child:last-child {
  height: 36px;
}
ul.dropdown-menu li.danger a {
  color: #FFFFFF;
}
body.login-page div.alert.flash-alert {
  margin-top: 0px;
  margin-bottom: 20px;
}
body.signup-page div.alert.flash-alert {
  margin-top: 0px;
  margin-bottom: 20px;
}
.index-page .fp-title {
  margin-top: 70px;
  margin-bottom: 20px;
}
.index-page .project-box {
  text-align: left;
}
.index-page .project-box div.icon {
  top: 5px;
  right: 7px;
  font-size: 70px;
}
.index-page .project-box div.icon a {
  color: inherit;
}
.index-page .project-box:hover div.icon {
  font-size: 80px;
}
@media (max-width: 767px) {
  .small-box .icon {
    display: block;
  }
}
@media (max-width: 300px) {
  .small-box .icon {
    display: none;
  }
}
