
body {

}

body div.alert.flash-alert {
    margin-top: 15px;
    margin-bottom: -5px;
}


body.login-page div.alert.flash-alert,
body.signup-page div.alert.flash-alert {
    margin-top: 0px;
    margin-bottom: 20px;
}

form .progress,
form .progress {
    background-color: #FFFFFF;
}