
<html>
    <head>
        <%= include('../main-head') %>
    </head>
    <body class="register-page signup-page">
        <div class="register-box">
            <div class="register-logo">
                <a href="/">Trackitime</a>
            </div>

            <div class="register-box-body">
                <p class="login-box-msg">Sign up</p>
                <% if(messages.info) { %>
                    <div class="alert alert-info text-center flash-alert"><%= messages.info %></div>
                <% } %>
                <% if(messages.error) { %>
                    <div class="alert alert-danger text-center flash-alert"><%= messages.error %></div>
                <% } %>
                <form action="/signup" method="post" id="signupForm">
                    <div class="form-group has-feedback">
                        <input name="name" type="text" class="form-control" placeholder="Full name"/>
                        <span class="fa fa-user form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <input name="username" type="text" class="form-control" placeholder="Username"/>
                        <span class="fa fa-user form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <input name="password" type="password" class="form-control" placeholder="Password"/>
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <input name="password2" type="password" class="form-control" placeholder="Retype password"/>
                        <span class="fa fa-log-in form-control-feedback"></span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar"></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-8">
                            <a href="login.html" class="text-center">I already have an account</a>
                        </div>
                        <!-- /.col -->
                        <div class="col-xs-4">
                            <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
            </div>
        </div>

        <%= include('../main-defer') %>
        <script>
            var form = new PasswordForm({
                el: "#signupForm"
            })
        </script>
    </body>
</html>